:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --mint: #5eead4;
  --text-button: #0d1117;
  --text-button-secondary: #e6edf3;
  --border: #30363d;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --mono: "JetBrains Mono", monospace, sans-serif;
  --heading: "Space Grotesk", sans-serif;
  --body: "IBM Plex Sans", sans-serif;

  font: 18px/145% var(--heading);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  color: var(--text-h);
}

p {
  margin: 0;
}

.logo,
label,
.nav-items {
  font-family: var(--mono);
}

.kickers {
  line-height: 1.4 / normal;
  font-family: var(--mono);
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

body {
  background-color: #0d1117;
  background-image: radial-gradient(#1f2630 1px, transparent 1px);
  background-size: 28px 28px;
  font-family: "Space Grotesk", sans-serif;
}

.dot-bg {
  background-image: radial-gradient(#1f2630 1px, transparent 1px);
  background-size: 28px 28px;
  mask-image: radial-gradient(ellipse at center, black 40%, transparent 80%);
}

.accent-color {
  color: var(--mint);
}

.primary {
  height: 48px;
  background-color: var(--mint);
  color: var(--text-button);
  padding: 0px 24px;
  font-family: var(--mono);
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  border-radius: 8px;
}

.secondary {
  height: 48px;
  background-color: transparent;
  color: var(--text-button-secondary);
  padding: 0px 24px;
  font-family: var(--mono);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  border-radius: 8px;
  border: 1px solid #30363d;
}
